.bg-1 {
  background: #f2f3f7;
  min-height: 100vh;
}

.photo{
  box-shadow: -4px 4px #ccc;

}

.skill-el img {
  width: 20%;
  align-self: center;
}


.bg-2{
  background-color: #fff;
}

.shadow {
    box-shadow: -1px -1px 7px 2px #ccc;
}

.info .icon {
  width: 30px;
  padding-right: 2px;

}

@media screen and (max-width:750px) {
  .bg-1 {
    min-height: unset;
  }
}
