.bg-1 {
  background: #f2f3f7;
  min-height: 100vh;
}

.skill-el img {
  width: 20%;
  align-self: center;
}


.bg-2{
  background-color: #fff;
}

.shadow {
    box-shadow: -1px -1px 7px 2px #ccc;
}
